/*　フォーム　*/
.baseform{
  width: 30%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e6e6e6;
  border-radius: 5px;
  border: solid 2px #b4b4b4;
}
.wrapp{
  margin: 30px;
}
.title_lbl{
  text-align:  center;
  font-size: 30px;
}
.text{
  font-size: 20px;
}
label {
    display: block;
}
input,label {
    margin: .4rem 0;
}
/*　備考欄　*/
.remarks{
  width: 90%;
  height: 100px;
}
/*　キャンセルボタン　*/
.cancel_btn{
  font-size: 15px;
  width: 95px;
  height: 30px;
}
/*　申請ボタン　*/
.request_btn{
  font-size: 15px;
  width: 80px;
  height: 30px;
}
