h1 {
    font-size: 32px;
    margin: 0px;
    padding: 4px;
    color: #222288;
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* ページ固有のスタイル */
/* ログインページ */
th.login_field {
    width: 115px;
    text-align: left;
    padding: 0;
    color: #ffffff;
    background-color: #008000;
}


td.login_field {
    padding: 0px;
}

td.login_button {
    text-align: center;
    padding: 8px;
}

body {
    background-color: #FFC778;
  }

td.error_message{
    text-align: center;
}